<html>
<body>
<h3>PRODUK</h3>
<form action="./../../controller/controller_produk/produk/add_produk.php" method="post">
    Name: <br><input type="text" name="name" ><br>
    category_id: <br><input type="text" name="category_id" ><br>
    material: <br><input type="text" name="material" ><br>
    color: <br><input type="text" name="color" ><br>
    size: <br><input type="text" name="size" ><br>
    Description:<br><textarea class="form-control" rows="3" id="textarea" name="description"></textarea>
<br><input type="submit">