/* buat ukuran img */
.width-30  {width: 30px;}
.width-35  {width: 35px;}
.width-40  {width: 40px;}
.width-50  {width: 50px;}
.width-60  {width: 60px;}
.width-70  {width: 70px;}
.width-80  {width: 80px;}
.width-90  {width: 90px;}
.width-100 {width: 100px;}
.width-110 {width: 110px;}
.width-120 {width: 120px;}
.width-130 {width: 130px;}
.width-140 {width: 140px;}
.width-150 {width: 150px;}
.width-160 {width: 160px;}
.width-170 {width: 170px;}
.width-200 {width: 200px;}
.width-220 {width: 220px;}
.width-250 {width: 250px;}
.width-300 {width: 300px;}
.width-400 {width: 400px;}
.width-500 {width: 500px;}

/* buat padding top */
.p-top-100 {padding-top: 100px;}
.p-top-110 {padding-top: 110px;}
.p-top-120 {padding-top: 120px;}
.p-top-140 {padding-top: 140px;}

/* margin top */
.m-top-125 {margin-top: 140px;}
